*{
  font-family: 'Poppins',Arial, Helvetica, sans-serif, sans-serif;
}

@media (min-width : 768px) {
  body{
    padding: 6rem;
  }
  
}
input{
  color: grey;
  font-size: 1.2rem;
  width: 95%;
}

.text{
  text-align: center;
}

@media (min-width : 768px) {
  .text{
    text-align: initial;
  }  
  
}

.card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card {
  max-width: 100%;
  align-content: center;
  border: 1px solid grey;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
}
.card :last-of-type{
  margin: 0;
}
.card p{
  padding: 5px;
  text-align: center;
}
.card img{
  max-height: 8rem;
}




